* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    color: hsl(240, 0%, 49%);
    text-align: center;
    font-size: 18px;
    font-family: 'Josefin Sans';
    background-color: hsl(274, 8%, 17%);
    position: relative;

}

.header {
    background-image: url('bg-desktop-dark.jpg');
    height: 40%;
    display: flex;
    padding: 7rem;
    text-align: center;


}

h1 {
    margin-left: 21rem;
    color: #fff;
}

.moon-sun {
    margin-left: 14rem;
}

.App {
    position: relative;
}

.input {
    position: absolute;
    margin-top: -7rem;
    margin-left: -12.1rem;
    background-color: hsl(231, 35%, 21%);
    color: hsl(240, 0%, 49%);
    padding: 9px;
    width: 23rem;
    border: none;

}

.add {
    position: absolute;
    margin-top: -10%;
    margin-left: 8.3rem;
    padding: 6px;
    border: none;
background-color: inherit;
color: aliceblue;
}

.col {
    border-bottom: 1px solid rgb(126, 111, 111);
    width: 23rem;
    left: 28rem;
    height: 35px;
    position: relative;
    top: -6rem;
    background-color: hsl(230, 24%, 19%);
    border-radius: 3px;


}

.row {
    position: absolute;
    text-align: center;



}


.down {
    margin-top: -6rem;
    border-radius: 3px;
    border: none;
    width: 23rem;
    height: 35px;
    margin-left: 28rem;
    font-size: 16px;
    background-color: hsl(231, 17%, 16%);
    text-align: center;
    padding: 5px;
}

.all {
    color: rgb(48, 48, 247);
    padding: 10px;

}

.mobile {
    display: none;

}

.sm-mob {
    display: none;
}



@media (max-width:480px) {
    .body {
        font-size: 16px;
    }

    .header {
        background-image: url('mobile.jpg');
        background-repeat: no-repeat;
        width: auto;
        height: 50%;
background-size: contain;

    }

    h1 {
        margin-left: -3.5rem;
        margin-top: -34%;
        padding: 0;
    }

    .moon-sun {
        margin-top: -32%;

        margin-left: 9rem;

    }

    .add {
        margin-top: -34%;
        margin-left: 6.2rem;

        padding: 5px;
    }

    .input {
        margin: 5px;
        padding: 10px;
        width: 17rem;
        margin-top: -7rem;
        margin-left: -8rem;
    }

    .col {
        margin: 0;
        padding: 0;
        top: -6rem;
        left: 3.6rem;
        width: 17rem;
    }

    .row {
        padding: 0;
        margin: 0;
    }

    .down {
        display: none;

    }

    .sm-mob {
        display: inherit;
        border-bottom: 1px solid rgb(126, 111, 111);

        border-radius: 3px;
        width: 17rem;
        height: 36px;
        background-color: hsl(231, 17%, 16%);

        margin-left: 3.6rem;
        margin-top: -6rem;

    }

    .clear {
        margin-left: 4rem;
        color: inherit;
        border: none;
        padding:1%;
        margin-top:2%;
        
    }

    .mobile {
        display: inherit;
        border: none;
        border-radius: 3px;
        width: 17rem;
        height: 36px;
        background-color: hsl(231, 17%, 16%);

        margin-left: 3.6rem;
        margin-top: 12px;
 }
strong{
    color: blue;
    right: 3px;
}
}